*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
  font-weight: bold;
  color: var(--headingColor);
}
p,
span {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

/* Custom Class Style */
.container {
  margin: 0 auto;
  max-width: 1360px;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paddingXl {
  padding: 130px 4px;
}

.ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.starFlex {
  display: flex;
  gap: 2px;
  align-items: center;
}

#Cards_area_popular .btn {
  display: flex;
  justify-content: end;
}
.btn img {
  color: pink;
}
