/* Responsive layout Style */

/* Laptop Device  */
@media only screen and (max-width: 1280px) {
  .hidden {
    display: none;
  }
  #NavigationMenu .inner {
    flex-wrap: wrap;
  }

  /* <!-- Hero Header area -->  */
  #hero_area {
    padding-left: 10px;
  }
  #hero_area .inner {
    justify-content: space-around;
  }
  #hero_area .hero_left_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }
  .hero_left_content h1 {
    font-size: 36px;
  }

  /* <!-- Company Brand Logo -->  */
  #Company_brand_logo .grids {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  /* <!-- Popular Collection Cards Section -->  */
  #Cards_area_popular {
    padding-top: 0;
  }
  #Cards_area_popular .parent_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .btn {
    margin-top: 10px;
  }

  /* Featured products at one place Section  */
  #featured_area .inners {
  }
}

/* Tablet Device */
@media only screen and (max-width: 1024px) {
  .hidden {
    display: none;
  }
  #NavigationMenu .inner {
    flex-wrap: wrap;
  }

  /* Hero Header area  */
  #hero_area {
    padding-left: 10px;
  }
  #hero_area .inner {
    justify-content: space-around;
  }
  #hero_area .hero_left_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }
  .hero_left_content h1 {
    font-size: 36px;
  }

  /* Company Brand Logo  */
  #Company_brand_logo .grids {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  /* Popular Collection Cards Section */
  #Cards_area_popular .parent_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .btn {
    margin-top: 10px;
  }
}

/* Big Mobile Device */
@media only screen and (max-width: 768px) {
  .hidden {
    display: none;
  }
  #NavigationMenu .inner {
    flex-wrap: wrap;
  }

  /* Hero Header area  */
  #hero_area .inner1 {
    flex-direction: column;
    justify-content: center;
  }
  #hero_area .hero_left_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  .hero_left_content h1 {
    font-size: 36px;
  }
  .hero_left_content h6 {
    padding: 0 40px;
  }

  /*  Company Brand Logo  */
  #Company_brand_logo .grids {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  /* Popular Collection Cards Section */
  #Cards_area_popular {
    padding: 0 9px;
  }
  #Cards_area_popular .parent_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .btn {
    margin-top: 10px;
  }

  /* Featured products at one place Section  */
  #featured_area .inners {
    display: flex;
    flex-direction: column;
  }
}

/* Normal Mobile Device */
@media only screen and (max-width: 640px) {
  .hidden {
    display: none;
  }
  #NavigationMenu .inner {
    flex-wrap: wrap;
  }

  /* <!-- Hero Header area -->  */
  #hero_area .inner {
    flex-direction: column-reverse;
  }
  #hero_area .hero_left_content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero_left_content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero_left_content h1 {
    font-size: 36px;
  }

  /* Company Brand Logo  */
  #Company_brand_logo .grids {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  /* Popular Collection Cards Section  */
  #Cards_area_popular {
    padding: 0 10px;
  }
  #Cards_area_popular .title {
    padding: 60px 0;
  }
  #Cards_area_popular .parent_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .btn {
    margin-top: 10px;
  }

  /* Featured products at one place Section  */
  #featured_area .inners {
    display: flex;
    flex-direction: column;
  }
  #featured_area .right_featured {
    width: 100%;
  }
}
