:root {
  /* Primary Colors  */
  --primaryColor: #e02c6d;
  --srcBgColor: #0a0826;
  --whiteColor: white;
  /* --primaryLight: ; */

  /* Text Color  */
  --headingColor: #3a3a3a;
  --paragraphColor: #787885;

  /* Dark Color 

  --dark1Color: ;
  --dark2Color: ;
  --dark3Color: ;
  --dark4Color: ;
  --dark5Color: ;

*/

  /* Shadow  */
  --shadowSm: ;

  /* Button Primary Color */
  --btnPrimary: #e02c6d;

  /* Font weight  */
  --mediumFont: 500;
  --semiboldFont: 600;
}

/* Navigation Menu Style */

/* Hero Header Style */

/* Main Section  */

/*  */

/*  */

/*  */

/*  */

/* Footer Section Style */
